<script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>


<style>
    body {
        margin: 0%;
        background-color: beige;

    }

    nav {
        position: sticky;
        top: 0%;
        left: 0%;
        background: linear-gradient(90deg, #00d0ff9e, #366cc299);
        z-index: 1;
    }

    #recipie-display{
        z-index: 1;
        background-color: white;
        position: sticky;
        top: 8%;
        display: flex;
        justify-content: space-evenly;
        margin: 8%;
        .text, .img{
            flex: 1;
            margin: 30px;
        }
        .x{
            position: absolute;
            top: 0%;
            right: 0%;
            background-color: red;
            border-radius: 30%;
            width: 25px;
            height: 25px;
        }
        .x:active{
            transform: scale(0.8);
        }
    }

    /* .wrapper{
        display: flex;
    } */

    #recipie-display {
        flex: 1;

    }

    main {
        flex: 1;
        margin: 8%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 20px;
    }


    .recipie {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-color: white;
        /* background: linear-gradient(90deg, white, rgb(253, 253, 229)); */
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.822);
        transition: .9s;

        .top{
            display: flex;
            position: relative;
        }

        .bottom {
            padding: 10px;
        }
    }

    .text {
        transition: .9s;

    }

    @media screen and(min-width: 300px) {
        
        .recipie:hover {
            background: linear-gradient(180deg, white, rgba(129, 217, 246, 0.057));
            transform: rotateY(180deg) scale(1.2);
        }

        .instructions {
            display: block;
        }

        .text {
            transform: rotateY(180deg);
        }


    }




    .img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        
    }

    .profile{
        width: 50px;
        height: 50px;
        margin: 10px;
        img{
            
            border-radius: 100%;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }

    input {
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.807), rgba(255, 166, 0, 0.828));
        color: black;
    }

    li {
        background-color: black;
        border-radius: 10px;
        padding: 2px;
        list-style: button;
    }

    @keyframes flip {

        100% {
            transform: rotateY(180deg);
        }
    }

    .instructions {
        display: none;
    }
    .like {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        transform: scale(0.7);
        /* transition: .9s; */
        border: 3px solid transparent;

        
    }
    .like:hover{
        /* transform: scale(1.05); */
        border: 2px solid orange;
        border-radius: 100%;
            cursor: pointer;
        }
        .like:active{
            transform: scale(0.6);
        }
        
</style>



<nav style="background-color: rgba(0, 0, 0, 0.92);">
    <ul
        style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;  padding: 10px; border-radius: 10px; @media (max-width: 768px) {flex-direction: column; align-items: stretch;}">
        {% for link in links[4:] %}
        <li style="margin: 0 10px; @media (max-width: 768px) {margin: 10px 0;}"><a
                style="color: white; text-decoration: none;" href="{{link}}">{{link}}</a></li>
        {% endfor %}
    </ul>
</nav>



    <div id="recipie-display"></div>


    
    <main>
        <!-- name, ingrediants, instructions, and time_to_make, id, posted_by liked -->
        {% for recipie in recipies %}
        
        <div class="recipie">
            <div class="img">
            <img src="/recipies/image/{{ recipie[4] }}" alt="">
        </div>
        <div class="text">
            <div class="top">
                <div class="profile">
                    <img src="/users/image/{{ recipie[5] }}" alt="">
                </div>
                
                <h1>{{ recipie[0] }}</h1>
                <img 
                {% if recipie[6] %}
                src="/unLike_button" hx-get="/recipies/unLike/{{ recipie[4] }}/1"
                {% else %}
                src="/like_button" hx-get="/recipies/like/{{ recipie[4] }}/1"
                {% endif %}
                hx-swap="outerHTML" class="like" alt="">
                
            </div>
            <div class="bottom">
                
                {% for food in recipie[1] %}
                <h4>{{food}}: {{recipie[1][food]}}</h4>
                {% endfor %}
                <p class="instructions">{{ recipie[2] }}</p>
                <p>time to make: {{ recipie[3] }}</p>
                <button hx-get="/recipies/{{ recipie[4] }}" hx-target="#recipie-display"></button>
            </div>
        </div>
        
        <!-- <button hx-get="/recipies/like/{{ recipie[4] }}/1" class="like"> -->
            <!-- <a href="/recipies/like/{{ recipie[4] }}/1">like</a> -->
            <!-- </button> -->
        </div>
        {% endfor %}
    </main>
    
    

<script>
    function go_to(url) {
        window.location.href = url
    }
    const recipie_display = document.getElementById("recipie-display")

    function exit() {
        recipie_display.innerHTML = ""
    }
</script>